<% if notice %>
    <p id='notice'><%= notice %></p>
<% end %>


<h1>Next Gen Store</h1>

<% @products.each do |p| %>
    <div class='entry'>
        <%= image_tag(p.image_url) %>
        <h3><%= p.name %></h3>
        <div class='price_line'>
            <span class="price"><%= sprintf("$%0.02f",p.price) %></span>
        </div>
    </div>
<% end %>
